<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB3HBb8EwoxUjk8S4qL15bZosC43rWjdGY</string>
	<key>GCM_SENDER_ID</key>
	<string>551137076703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.ernklyc.movieLogMobile</string>
	<key>PROJECT_ID</key>
	<string>ernklyc-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>ernklyc-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551137076703:ios:214fd9775faa8ed922906a</string>
</dict>
</plist>